extends layout

block content
  h1 #{title}: #{equipment.name}

  p Do you really want to delete this equipment?

    form(method='POST' action='')
      div.form-group
        input#equipmentid.form-control(type='hidden',name='equipmentid', required='true', value=equipment._id )

      button.btn.btn-primary(type='submit') Delete
