doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      h2 Elite Sports Wear
      ul
        li 
          a(href="/") Home
        li 
          a(href="/inventory") Inventory
        li 
          a(href="/category") Categories
        li 
          a(href="/equipment") Equipments
        li New
          ul(class='new')
            li
              a(href="/equipment/createequipment") Create Equipment
            li
              a(href="/category/createcategory") Create Category
            li
              a(href="/") Update Equipment
            li
              a(href="/") Update Category
            li
              a(href="/") Delete Equipment
            li
              a(href="/") Delete Category
    </div>
    block content
