doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='header')
      h2 Elite Sports Wear
      ul
        li 
          a(href="/") Home
        li 
          a(href="/inventory") Inventory
        li 
          a(href="/category") Categories
        li 
          a(href="/equipment") Equipments
        li New
    </div>
    block content
