body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  display: flex;
  flex-direction: row;
}

.header > h2 {
  width: 25vw;
}

.header > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75vw;
  align-items: center;
}

.header > ul > li {
  list-style: none;
}

.new {
  /* display: none; */
  border: 2px solid grey;
  position: absolute;
  right: 0px;
}
